<!DOCTYPE html>
<html lang="nb-NO">
    <head>
        <meta charset="UTF-8"/>
        <title>{{> doctitle}}</title>
        <meta name="description" content="{{> docdescription}}"/>
        <meta name="subject" content="{{> docsubject}}"/>
        <meta name="author" content="NAV IT"/>
        {{#block 'aap-saksbehandling-pdfgen/fellesmodell-partials/style' }}
        {{/block}}
    </head>
    <body>
        <main>
        <div class="header">
            <img class="navLogo" alt="nav logo" src="{{ image "navlogored.png" }}" />

            <div class="personalia">
                <p>Navn: {{ mottaker.navn }}</p>
                <p>Fødselsnummer: {{ mottaker.ident }}</p>
                <p>Dato: {{dato}}</p>
                <p>Saksnummer: {{saksnummer}}</p>
            </div>
        </div>
        <div class="title-wrapper">
            <h1>{{> title}}</h1>
        </div>
        <div class="container">
            {{#each underblokker as |blokk|~}}
                {{#if blokk.overskrift}}
                    {{#eq blokk.nivå 'H1'}}
                        <h1>{{ blokk.overskrift }}</h1>
                    {{/eq}}
                    {{#eq blokk.nivå 'H2'}}
                        <h2>{{ blokk.overskrift }}</h2>
                    {{/eq}}
                    {{#eq blokk.nivå 'H3'}}
                        <h3>{{ blokk.overskrift }}</h3>
                    {{/eq}}
                {{/if}}
                <div class="blokk avoid-page-break">
                    {{#each blokk.content as |content|~}}
                        {{> aap-saksbehandling-pdfgen/fellesmodell-partials/elementpartial content}}
                    {{/each}}
                </div>
            {{/each}}
        </div>
        </main>
        <div id="footer">
            <span class="saksnummer">Saksnummer {{ saksnummer }}</span>
            <span class="sidetall">side <span id="pagenumber"></span> av <span id="pagecount"></span></span>
        </div>
    </body>
</html>